@model OnlineLibrary.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create new Book</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-controller="Library">
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />


        </form>
    </div>
</div>
