
@model IEnumerable<OnlineLibrary.Models.Book>

@{
    Layout = "_Layout"
}

<h2>Index</h2>

<div class="container">
    <div>
        <h4>@ViewBag.Title</h4>
        @foreach(var item in Model)
        {
           <div>
               <h3>@item.Name</h3>
               <h4>"Author "@item.Author.FirstName + "@item.Author.LastName"</h4>
           </div>
        }
    </div>
</div>