@model Library

@{
    ViewData["Title"] = "OnlineLibrary";
}
<h2>OnlineLibrary</h2>

<div class="container">
    <div>
        <h4>@ViewBag.Title</h4>

      @* list of books *@
        

</div>
</div>