@model Library
@{
    ViewData["Title"] = "Loan";
}

<h2>Loan Book</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>Author
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.ListOfBooks)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => book.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => book.Author)
                </td>
                <td>
                    @Html.DisplayFor(model => book.Quantity)
                </td>
                <td><input type="number"  value="Quantity" /></td>

            </tr>
            }
        </tbody>
    </table>
</div>